# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
maildir/
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.idea/


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
maildir


# local tests
testing_folder/
price_files
test_folder/
test_folder
/output/
output/
/files/
/files
/orcaven/algorithm/abc_validator/files
/orcaven/algorithm/abc_validator/pickle_files
/orcaven/algorithm/graph/bar_data
/app/services/orca_max_backtesting/plot/
/app/services/orca_max_backtesting/files/
.env
